<form action="/" style="border:1px solid #ccc" method="POST">
    <div class="container">
      <h1>register</h1>
      <p>register.</p>
      <hr>
      <label for="name"><b>Name:</b></label>
      <input type="text" placeholder="Enter Name" name="name" required>
      <label for="email"><b>Email Address:</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
      
      <button type="submit" class="register">Register</button>
    </div>
  </div>
</form>